img {
    max-width: 100%;
    height: auto
}

figure {
    margin: 0
}

p {
    margin-bottom: 0;
    font-size: 15px;
    color: #777
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-size: 36px;
    display: inline-block;
    width: 100%;
}

#logOut {
    text-align: right;
}

.site-content{
    display: flex;
    justify-content: center;
}



.form-check{
    display: flex;

}

#agree-term{
    width: auto;
    margin-right: 5px;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.propertyCreation {
    padding: 45px;
    border-radius: 35px;
    border: 1px solid rgba(169, 169, 169, 0.208);
    margin: 50px;
    box-shadow: 12px 12px 4px 0px rgba(0,0,0,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 150px;
    overflow: hidden;
}

#propertyCreationContainer {
    transition: height 0.5s ease;
}

.creation-container {
    display: flex;
    margin: 50px;
    align-items: center;
}

.div-propertyCreation-form,.image,.propertyCreation-form {
    width: 50%;
    overflow: hidden
}

.image {
    margin: 0 55px
}

.form-title {
    margin-bottom: 33px
}

.image {
    margin-top: 45px;
    margin-bottom: 50px;
    text-align: center;
    align-self: center;
}

.form-submit {
    display: inline-block;
    background: #6a929d;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer
}

.form-submit:hover {
    background: #b1d2db;
    color: rgb(40, 40, 40);
    border-bottom: 0 !important;
}


.propertyCreation-form {
    width: 100%
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden
}

.form-group:last-child {
    margin-bottom: 0
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box
}

input:focus {
    border-bottom: 1px solid #222;
    outline: none;
}

input:hover {
    border-bottom: 1px solid #222
}

.userContainer {
    padding: 65px;
    display: flex;
    border-radius: 35px;
    border: 1px solid rgba(169, 169, 169, 0.208);
    width: 20%;
    margin: 50px;
    box-shadow: 12px 12px 4px 0px rgba(0,0,0,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.errorInForm {
    color: red;
}

.userDetails > * {
    
    margin-bottom: 40px;
}

.profilePicture {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
}

.uploadDocument {
    padding: 45px;
    border-radius: 35px;
    border: 1px solid rgba(169, 169, 169, 0.208);
    margin: 50px;
    box-shadow: 12px 12px 4px 0px rgba(0,0,0,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 170px;
    overflow: hidden;
    
}

#uploadDocumentContainer {
    
    transition: height 0.5s ease;
}

#uploadDocumentForm {
    margin: 40px;
}

#documentForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

#file {
    display: block;
    margin-bottom: 15px;
}

.submitButton {
    background-color: #6a929d;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #b1d2db;
    color: rgb(40, 40, 40);
    border-bottom: 0 !important;
}

small {
    color: #f18149;
    font-size: 16px;
}